[submodule "basic_example/prelude"]
	path = basic_example/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "ocamllex_menhir_example/prelude"]
	path = ocamllex_menhir_example/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "ppx_usage_example/prelude"]
	path = ppx_usage_example/prelude
	url = https://github.com/facebook/buck2-prelude.git
[submodule "inline_test_runners/prelude"]
	path = inline_test_runners/prelude
	url = https://github.com/facebook/buck2-prelude.git
